*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    padding: 20px;
}
.container{
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    /* min-width: 100px; */
    height: 100px;
    background-color: black;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1;
    /* flex-basis: 100px;*/
}
.box:nth-child(2){
    flex-grow: 2;
    order: -1;
}